@tailwind base;
@tailwind components;
@tailwind utilities;

#anim {
    background-image: url('/images/spritesheet.png');
    width: 100%; /* Set the width to 100% of the parent element */
    padding-bottom: 100%; /* Set the padding-bottom to maintain the aspect ratio (height/width * 100) */
    background-size: auto 100%;
    animation: anim 2.0s steps(69);
    animation-iteration-count: 1;
  }
  @keyframes anim {
    100% { background-position: -6900%; }
  }
